@use "theme/color";
@use "theme/shadow";

.root {
}

.page-head {
  composes: container from global;

  padding: 2rem 1.5rem;
  border-bottom: 1px solid color.neutral(6);
}

.page-head__title {
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
}

.page-body {
}

.image-container {
  text-align: center;
  padding: 1.5rem 1.5rem;
}

.image-wrapper {
  position: relative;
  border-radius: 1rem;
  box-shadow: shadow.$base;
  overflow: hidden;

  margin: 0 auto;

  width: 100%;
  height: auto;

  max-width: 16rem;
  max-height: 16rem;
  
  // aspect-ratio polyfill

  &::before {
    float: left;
    padding-top: 100%;
    content: '';
  }
   
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

.image-regen-wrapper {
  display: block;
  padding: 1rem 1.5rem;
  text-align: center;
}

.image-no {
  font-size: 0.875rem;
}

.image-gen-button {
  margin-top: 1rem;
}

.content-container {
  composes: container container--sm from global;
  padding: 2rem 1.5rem;
}

.content__label,
.memo__label {
  font-size: 1.125rem;
  font-weight: bold;
  color: color.primary(11);
  padding-bottom: 1rem;
}

.content {
  font-size: 1rem;
  font-style: italic;
}

.memo-container {
  composes: container from global;
  padding: 1rem 1.5rem;
}

.memo {
  font-size: 1rem;
}

.actions-container {
  composes: container from global;
  padding: 1rem 1.5rem;
  text-align: right;
}
