@use "lib/theme";

// .loadingIndicator {
  
//   display: inline-block;
  
//   &::before {
//     content: "";
//     display: inline-block;
//     width: 32px;
//     height: 32px;
//     border: 4px solid theme.$color-primary-9;
//     border-bottom-color: transparent;
//     border-radius: 9999px;

//     animation: infinite ease-in-out .6s indicator-rotation;
//   }

//   @keyframes indicator-rotation {
//     from {
//       rotate: -24deg;
//     }

//     to {
//       rotate: 360deg - 24deg;
//     }
//   }

// }

.loadingIndicator {
  display: inline-block;

  &::before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;

    border: 4px solid;
    
    animation: infinite ease-in-out 2s indicator-anim;
  }

  @keyframes indicator-anim {
    0% {
      rotate: 0deg;
      scale: .8;
      border-color: theme.$color-neutral-9;
      border-radius: 16px;
    }
    
    50% {
      rotate: 360deg*1.5;
      scale: 1;
      border-color: theme.$color-primary-10;
      border-radius: 8px;
    }
    
    100% {
      rotate: 360deg*3;
      scale: .8;
      border-color: theme.$color-neutral-10;
      border-radius: 16px;
    }
  }
}

.ellipsis {
  $duration: .6s;

  & {
    display: inline-block;
    position: relative;
    width: 8px*4 + 12px*3;
    height: 8px*2 + 12px;
  }
  
  div {
    position: absolute;
    top: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-color: theme.$color-primary-9;
  }
  
  div:nth-child(1) {
    left: 8px;
    animation: fade-in $duration infinite;
  }
  div:nth-child(2) {
    left: 8px;
    animation: translation $duration infinite;
  }
  div:nth-child(3) {
    left: 8px + 12px + 8px;
    animation: translation $duration infinite;
  }
  div:nth-child(4) {
    left: 8px + 12px + 8px + 12px + 8px;
    animation: fade-out $duration infinite;
  }

  @keyframes fade-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes fade-out {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  @keyframes translation {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(12px + 8px, 0);
    }
  }
}