@import "ui-theme";

.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  /** Tint Colors */

  &--neutral {
    --bg-t-d: #{$theme-color-base-200};
    --txt-t-d: #{$theme-color-base-900};
    --bd-t-d: #{$theme-color-base-500};
    --bg-t-h: #{$theme-color-base-300};
    --bg-t-a: #{$theme-color-base-400};

    --bg-c-d: #{$theme-color-base-700};
    --txt-c-d: #{$theme-color-base-50};
    --bd-c-d: #{$theme-color-base-700};
    --bg-c-h: #{$theme-color-base-800};
    --bg-c-a: #{$theme-color-base-900};
  }
  
  &--primary {
    --bg-t-d: #{$theme-color-primary-200};
    --txt-t-d: #{$theme-color-primary-900};
    --bd-t-d: #{$theme-color-primary-500};
    --bg-t-h: #{$theme-color-primary-300};
    --bg-t-a: #{$theme-color-primary-400};

    --bg-c-d: #{$theme-color-primary-700};
    --txt-c-d: #{$theme-color-primary-50};
    --bd-c-d: #{$theme-color-primary-700};
    --bg-c-h: #{$theme-color-primary-800};
    --bg-c-a: #{$theme-color-primary-900};
  }

  /** Variants */

  @mixin __button($infix) {
    border: 1px solid;
    background-color: var(--bg-#{$infix}-d);
    color: var(--txt-#{$infix}-d);
    border-color: var(--bd-#{$infix}-d);
  
    transition: 0.12s ease-in-out;
  
    &:hover {
      background-color: var(--bg-#{$infix}-h);
    }
    &:active {
      background-color: var(--bg-#{$infix}-a);
      transform: scale(.98);
    }
  }

  &--tonal {
    @include __button(t);
  }
  &--contained {
    @include __button(c);
  }

  /** Shapes + Sizes */

  &--small {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 100%;
    padding: 8px 16px;
    border-radius: 8px;
  }

  &--medium {
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    padding: 12px 24px;
    border-radius: 8px;
  }

  &--large {
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    padding: 16px 32px;
    border-radius: 8px;
  }
}
