@use "theme/color";

.root {
  svg {
    fill: currentColor;
  }
}

.root--editing {
  color: color.primary(9);
}

.inner {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.touch-area {
  position: absolute;
  inset: 0;
  z-index: 1;
  touch-action: none;
}
