@use "theme/color";

.ellipsis {
  $DURATION: .6s;

  & {
    display: inline-block;
    position: relative;
    width: 0.5em*4 + .75em*3;
    height: 0.5em*2 + .75em;
  }
  
  div {
    position: absolute;
    top: .5em;
    width: .75em;
    height: .75em;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-color: currentColor;
  }
  
  div:nth-child(1) {
    left: .5em;
    animation: fade-in $DURATION infinite;
  }
  div:nth-child(2) {
    left: .5em;
    animation: translation $DURATION infinite;
  }
  div:nth-child(3) {
    left: .5em + .75em + .5em;
    animation: translation $DURATION infinite;
  }
  div:nth-child(4) {
    left: .5em + .75em + .5em + .75em + .5em;
    animation: fade-out $DURATION infinite;
  }

  @keyframes fade-in {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes fade-out {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  @keyframes translation {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(.75em + .5em, 0);
    }
  }
}