@use "theme/color";
@use "theme/shadow";

.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(#000, 0.4);
  z-index: 6;

  animation: show-overlay .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dialog-wrapper {
  position: fixed;
  z-index: 12;
  left: 50%;
  top: 50%;

  transform: translateX(-50%) translateY(-50%);
  
  width: 100%;
  max-width: 32rem;
  max-height: 80vh;
  
  padding: 1rem 1.5rem;
  
  animation: show-modal-dialog .15s cubic-bezier(.16,1,.3,1);
}

.dialog {
  display: block;

  border-radius: 1rem;
  box-shadow: shadow.$xl;
  
  background-color: color.neutral(2);
}

.sheet {
  position: fixed;
  z-index: 12;
  
  composes: container container--sm from global;
  
  left: 50%;
  bottom: 0;
  
  transform: translateX(-50%);
  
  border-radius: 1rem 1rem 0 0;
  box-shadow: shadow.$xl-upward;
  
  background-color: color.neutral(2);
  animation: show-modal-sheet .15s cubic-bezier(.16,1,.3,1);
}

@keyframes show-modal-dialog {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes show-modal-sheet {
  from {
    opacity: 0;
    transform: translate(-50%, 32%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes show-overlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
