@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

@import 
  "./base/radix-colors.css", 
  "./base/ui",
  "./base/reset";

@import 
  "./theme/color";

html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important; // for safari
}

html, body {
  height: 100%;
  overscroll-behavior-y: none;
}

@media screen and (display-mode: standalone) {
  * {
    user-select: none;
  }
}
