@use "theme/color";
@use "lib/constant";

.header {
  composes: transition from global;

  width: 100%;
  min-height: 56px;
  height: constant.$HEADER_HEIGHT;

  color: color.neutral(12);
  // background-color: color.neutral(a2);
  background-color: color.neutral(2);
  box-shadow: 0 0 0 1px color.neutral(6);

  // background-blend-mode: darken;
  // backdrop-filter: blur(16px);

  &--top {
    background-color: transparent;
    box-shadow: none;
  }
}

.header__inner {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  min-height: 100%;

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.back-button {
  composes: pressable from global;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 1rem;
  color: color.neutral(11);

  >svg {
    fill: currentColor;
  }
}

.header__brand {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 100%;

  font-kerning: -0.25rem;

  color: color.primary(11);
}

.header__title {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 100%;

  color: color.primary(12);
}
