@use "theme/color";

.root {
  padding: 1rem;
}

.label-container {
  text-align: center;
  font-size: .875rem;
  color: color.neutral(11);
}

.rating-stars-container {
  text-align: center;
}

.actions-container {
  text-align: right;
  padding-top: 1.5rem;

  display: flex;
  flex-direction: row;

  >* {
    flex: 1;
  }

  >*+* {
    margin-left: .5rem;
  }
}
