@use "theme/color";
@use "lib/media";
@use "lib/constant";

.body {
  margin-left: 0;
  background-color: color.neutral(1);
  
  // @include media.lg {
  //   margin-left: constant.$MAIN_NAV_WIDTH--lg;
  // }
}

.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}

.loading-page__content {
  display: block;
  text-align: center;
}
