@use "theme/color";

.root {

}

.body {
  composes: container from global;
}

.question-list {

}

.question-item {
  composes: pressable from global;

  display: block;
  padding: 1rem 1.5rem;

  background-color: color.neutral(1);
  
  &:active {
    background-color: color.neutral(5);
  }
}

