.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.head {
  composes: container from global;

  flex: 0;
  padding: 1rem 1.5rem;
}

// .head__title {
//   font-size: 1.5rem;
//   font-weight: bold;
//   margin-bottom: 1rem;
// }

.head__navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 -.5rem;
}

.head__content {
  margin-top: 1rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;

  min-height: 1.5rem;
}

.body {
  composes: container from global;
  
  flex: 1;
  padding: 0 1rem;
}

.body__textarea {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.foot-actions {
  composes: container from global;

  flex: 0;
  padding: 1rem;
  text-align: center;
}

// .actions__pass {
//   margin-bottom: 1rem;
// }

.actions__done, .actions__next {
  display: block;
  width: 100%;
}

