@use "theme/color";

.book-search-bar {
  composes: transition from global;

  box-shadow: 0 0 0 1px color.neutral(6);
  background-color: color.neutral(1);
  border-radius: .5rem;

  &:focus-within {
    box-shadow: 0 0 0 2px color.primary(8);
  }
}

.book-search-bar__query-input {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 3rem;
  padding: 0 1rem;
  color: color.neutral(12);

  &::placeholder {
    color: color.neutral(11);
  }
}