@use "theme/color";

.banner {
  position: relative;
  display: block;

  border-radius: 1rem;
  background-color: color.primary(4);
  box-shadow: 0 0 0 1px color.primary(6);

  height: 128;

  overflow: hidden;

  padding: 4rem 1rem;
}

.banner__layer {
  position: absolute;
  inset: 0;
}

.banner__headline {
  color: color.primary(12);
  font-size: 1.25rem;
  text-align: right;
  font-weight: bold;
  word-wrap: break-word;
  padding: 1.5rem;
}
