@function primary($scale) {
  @return var(--jade-#{$scale});
}
@function primary-a($scale) {
  @return var(--jade-a#{$scale});
}

@function neutral($scale) {
  @return var(--sage-#{$scale});
}
@function neutral-a($scale) {
  @return var(--sage-a#{$scale});
}

@function gray-a($scale) {
  @return var(--gray-a#{$scale});
}

@function error($scale) {
  @return var(--red-#{$scale});
}

@function local-accent($scale) {
  @return var(--l-#{$scale});
}
@function local-accent-a($scale) {
  @return var(--l-a#{$scale});
}

.--l-color-primary {
  @for $i from 1 through 12 {
    --l-#{$i}: #{primary($i)};
    --l-a#{$i}: #{primary-a($i)};
  }
  --l-9-contrast: #{primary(9-contrast)};
}

.--l-color-neutral {
  @for $i from 1 through 12 {
    --l-#{$i}: #{neutral($i)};
    --l-a#{$i}: #{neutral-a($i)};
  }
  --l-9-contrast: #{neutral(9-contrast)};
}

$LOCAL_ACCENT_COLOR_PRIMARY: --l-color-primary;
$LOCAL_ACCENT_COLOR_NEUTRAL: --l-color-primary;
