@use "lib/theme";

.bnav {
  $_color: theme.$color-neutral-11;
  $_bg-color: theme.$color-neutral-2;
  
  $_color--selected: theme.$color-primary-12;
  $_bg-color--hover: theme.$color-neutral-4;
  $_bg-color--selected: theme.$color-primary-5;

  & {
    color: $_color;
    background-color: $_bg-color;
    height: 64px;
    padding: 8px 16px;

    box-shadow: 0px -4px 16px 0px theme.$color-gray-a4;
  }

  &__navItems {
    width: 100%;
    margin: 0 auto;
    max-width: 720px;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex: 1 0;
  }

  &__navItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    transition: background-color .2s ease-in-out;

    cursor: pointer;

    font-size: .75rem;
    line-height: 100%;
    
    color: $_color;
    background-color: $_bg-color;
    border-radius: 9999px;

    @media (hover: hover) {
      &:hover {
        background-color: $_bg-color--hover;
      }
    }
    
    &\$selected {
      // font-size: .875rem;
      font-weight: 600;
      color: $_color--selected !important;
      background-color: $_bg-color--selected !important;
    }
  }

  &__navIcon {
    height: 24px;
    margin-bottom: 4px;

    > svg {
      height: 1.5rem;
      width: 1.5rem;
      fill: currentColor;
    }
  }
}
