@use "theme/color";
@use "theme/shadow";
@use "lib/media";

.transition {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.pressable {
  cursor: pointer;
  @extend .transition;
}

.pressable--opacity {
  @media screen and (hover: hover) {
    &:hover {
      opacity: 0.8;
    }
  }
  &:active {
    opacity: 0.56;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: media.$screen-md;
}

.container--sm {
  max-width: media.$screen-sm;
}

textarea,
input:not([type="button"], [type="submit"], [type="checkbox"], [type="radio"]) {
  @extend .transition;

  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 1px color.neutral(6);
  
  padding: .5rem 1rem;
  line-height: 1.5;

  &::placeholder {
    opacity: .5;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px color.primary(8);
  }
  
  &.invalid,
  &[aria-invalid="true"] {
    box-shadow: 0 0 0 1px color.error(6);

    &:focus-visible {
      box-shadow: 0 0 0 2px color.error(8);
    }
  }
}
