@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/jade-alpha.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/jade-dark-alpha.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-alpha.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/sage-dark-alpha.css";
@import "@radix-ui/colors/gray-alpha.css";

@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";

:root, .light, .light-theme {
  --jade-9-contrast: #fff;
  --sage-9-contrast: #fff;
}

.dark, .dark-theme {
  --jade-9-contrast: #fff;
  --sage-9-contrast: #fff;
}
