@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-alpha.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/green-dark-alpha.css";
@import "@radix-ui/colors/sage.css";
@import "@radix-ui/colors/sage-alpha.css";
@import "@radix-ui/colors/sage-dark.css";
@import "@radix-ui/colors/sage-dark-alpha.css";
@import "@radix-ui/colors/gray-alpha.css";

:root, .light, .light-theme {
  --green-9-contrast: #fff;
  --sage-9-contrast: #fff;
}

.dark, .dark-theme {
  --green-9-contrast: #fff;
  --sage-9-contrast: #fff;
}
